html {
  font-family: "Roboto", sans-serif;
}

.wrapper {
  width: 1280px;
  margin: 0 auto;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.header {
  margin-bottom: 49px;
}
.header-title {
  font-size: 80px;
  line-height: 94px;
  text-decoration: none;
  padding-bottom: 0.5em;

  text-decoration: none;
  color: rgba(0, 0, 0, 1);
}
span {
  color: rgba(75, 202, 255, 1);
}
.header-menu {
  display: flex;
  /* flex-direction: row; */
  justify-content: center;
  width: 100%;
  background-color: #35444f;

  align-items: center;
}

.header-link {
  text-decoration: none;
  color: white;
}
.header-menu-item {
  display: flex;
  flex-basis: content;
  border-left: 1px solid white;

  height: 50px;
  align-items: center;
  font-size: 24px;
  line-height: 28px;
  padding: 0 38px;
}
.header-menu-item-last {
  border-right: 1px solid white;
}
.header-menu-item:hover {
  background-color: #222f3a;
}
.menu {
  justify-content: center;
  display: flex;
}
.aside-menu {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;

  border: 1px solid #000000;
}

.aside-menu-item {
  box-sizing: border-box;
  width: 342px;
  height: 81px;
  font-size: 27px;
  line-height: 27px;
  padding-left: 42px;
  display: flex;
  align-items: center;
  color: rgba(72, 88, 99, 1);
}
.aside-menu-item:hover {
  background-color: #dbdbdb;
  padding-left: 70px;
  color: #000000;
}
.text-link {
  text-decoration: none;
  color: black;
}
.content {
  margin-left: 40px;
}
.picture-box {
  height: 529px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
  margin-bottom: 37px;
}
.picture-img {
  transition: transform 0.5s;
}
.picture-img:hover {
  transform: scale(1.1);
}

.paragraph {
  font-size: 18px;
  line-height: 24px;
  margin-bottom: 2.5em;
}

.footer {
  display: flex;
  justify-content: space-between;
  background-color: rgba(99, 105, 110, 0.48);
}
.footer-menu {
  display: flex;
}
.footer-menu-item {
  display: flex;
  box-sizing: border-box;
  align-items: center;
  font-size: 28px;
  line-height: 28px;
  height: 69px;
  padding-top: 15px;
  margin-left: 42px;
  margin-bottom: 15px;
}
.footer-link {
  text-decoration: none;
  color: black;
}
.footer-link:hover {
  color: rgba(49, 129, 166, 1);
  border-bottom: 1px solid rgba(49, 129, 166, 1);
}
.copyright {
  display: flex;
  align-items: center;
  font-size: 24px;
  line-height: 24px;
  padding-right: 40px;
}
